---
import Layout from '@layouts/Layout.astro'
import HaikuDetail from '@components/Haikus/HaikuDetail.astro'
import { getCollection } from 'astro:content'
import type { Page, GetStaticPathsOptions } from 'astro'
import Pagination from '@components/Pagination/Pagination.astro'

export interface HaikuItem {
  data: {
    title: string
    year: number
  }
  body: string
}

export async function getStaticPaths(
  { paginate } : GetStaticPathsOptions
) {
  let items: HaikuItem[] = await getCollection('haikus')
  items = items.sort((a: HaikuItem, b: HaikuItem) => b.data.year - a.data.year)
  return paginate(items, { pageSize: 6 })
}

const { page } : { page: Page } = Astro.props
---

<Layout
  title="Gareth Weaver - Haikus"
  description="Read some of the Haikus I've written over the years.">
  <div  class="HaikuWrap">
    <div class="inner">
      {page.currentPage === 1 && (
        <div class="intro">
          <h1>My Haikus</h1>
          <p>
            A haiku is a Japanese poem that consists of three lines. There are
            five syllables in the first line, seven in the second, and five in
            the third. Over the years I've written quite a few Haikus, mainly
            for my own amusement more than the amusement of others.
          </p>
        </div>
      )}
      {page.data.map((item: HaikuItem, idx: number) => (
        <HaikuDetail
          key={idx}
          idx={idx}
          {...item}
          />
      ))}
    </div>
    <Pagination page={page} />
  </div>
</Layout>

<style lang="sass">
  @import '../../style/base'

  .HaikuWrap
    background: var(--color-fg)
    max-width: var(--max-width)
    margin: 0 auto
    padding: 2em 1em
    border-radius: 0.5em
    +media-up(md)
      padding: 2em

  .inner
    margin: 0 auto
    max-width: var(--max-content-width)
    +media-up(md)
      padding-top: 8rem

  .intro
    line-height: 1.5
    margin-bottom: 5em
    +media-up(md)
      margin-bottom: 6em

  h1
    margin-top: 0
</style>
