---
import { menuItems } from '../../content/menu/_menu'
import Icon from '@components/Icon/Icon.astro'
import GitButton from '@components/GitButton/GitButton'
---

<ul>
  <li>
    <GitButton
      client:idle
      className="link">
      <Icon use="github" />
      <span>Github</span>
    </GitButton>
  </li>
  {menuItems.map(item => (
    <li>
      <a
        class="link"
        title={item.title}
        {...item.props}
        >
        <Icon use={item.icon} />
        <span>
          {item.title}
        </span>
      </a>
    </li>
  ))}
</ul>

<style lang="sass">
  @import '../../style/base'

  ul
    list-style: none
    margin: 0
    padding: 1em 0 0
    +media-up(md)
      padding: 0
      display: flex

    li
      +media-up(md)
        margin-left: 0.75em

    :global(.link)
      transition: color 0.3s
      color: white
      display: flex
      align-items: center
      +media-down(sm)
        padding: 0.5em 0
        width: 100%

    :global(span)
      margin-left: 0.5em
      +media-up(md)
        display: none
</style>
