<header>
  <img
    src="https://ik.imagekit.io/garethweaver/gareth-weaver-mugshot.jpg"
    alt="Mugshot of Gareth"
  />
  <div>
    <h1>Gareth David Weaver</h1>
    <p>
      <a href="https://www.linkedin.com/in/garethweaver" target="_blank"
        >linkedin@garethweaver.com</a
      > -
      <a href="https://www.garethweaver.com" target="_blank"
        >www.garethweaver.com</a
      > -
      <a href="https://github.com/garethweaver" target="_blank"
        >@garethweaver</a
      >
    </p>
    <p>Living in Brisbane, Australia</p>
  </div>
</header>

<style lang="sass">
  header
    background: var(--gradient)
    padding: 50px 0
    color: white
    padding: 6em 4em
    margin: -4em -4em 4em -4em
    display: flex
    align-items: center

    img
      border-radius: 50%
      height: 10rem
      width: 10rem
      margin: 0 3rem 0 2rem

    h1
      margin: 0

    p
      margin: 0.25em 0 0

    a
      color: white
      text-decoration: none
</style>
