<header>
  <div>
    <h1>Gareth David Weaver</h1>
    <p>
      <a href="https://www.linkedin.com/in/garethweaver" target="_blank"
        >linkedin@garethweaver.com</a
      > -
      <a href="https://www.garethweaver.com" target="_blank"
        >www.garethweaver.com</a
      > -
      <a href="https://github.com/garethweaver" target="_blank"
        >@garethweaver</a
      >
    </p>
    <p>South West London, UK</p>
  </div>
</header>

<style lang="sass">
  header
    background: var(--gradient)
    padding: 50px 0
    color: white
    padding: 6em 4em
    margin: -4em -4em 4em -4em

    div
      padding-left: calc(20% + 3.5em)

    h1
      margin: 0

    p
      margin: 0.5em 0 0

    a
      color: white
      text-decoration: none
</style>
