---
import Layout from '@layouts/Layout.astro'
import ScrollButton from '@components/ScrollButton/ScrollButton.astro'
---

<Layout
  title="Gareth Weaver - Frontend web developer"
  description="I'm a front-end engineer with over a decade of experience. I'm always happy to have a chat about websites, webapps, technology or rugby.">
  <div class="intro">
    <div class="inner">
      <h1>
        PWAs &amp;<br />Engineering
      </h1>
      <h2>
        Let’s talk about websites, webapps, rugby or just the weather.
        I’m a frontend developer and I live in London, UK.
      </h2>
      <ScrollButton />
    </div>
  </div>
  <div id="portfolio-anchor" />
</Layout>

<style lang="sass">
  @import'../style/base'

  .intro
    max-width: $max-width
    margin: 0 auto
    background: linear-gradient(135deg, $color-grad-primary 0%, $color-grad-secondary 100%)
    min-height: 85vh
    border-radius: 0.5em

  .inner
    max-width: 600px
    padding: 5em

  h2
    font-family: $font-family-body
    font-size: 1em
    font-weight: 400
</style>
