@import '../../style/base'

.modal
  --color-href: var(--color-modal-highlight)
  color: white
  border: none
  border-radius: 0.5em
  background: var(--gradient)
  border-radius: 0.5em
  text-align: center
  padding: 3em
  min-width: 290px
  +media-up(md)
    min-width: 390px
    padding: 4em


  &[open]::backdrop
    background: rgba(black, 0.6)
    backdrop-filter: blur(3px)

  &[open]
    animation: modal-in 0.3s ease-in-out

  // .graph
  //   background: #c6abe4
  //   padding: 1em
  //   border-radius: 0.5em

  // .graph
  //   width: 100%

.close
  border: none
  background: none
  cursor: pointer
  padding: 1em
  position: absolute
  top: 0
  right: 0

  svg
    fill: #bfb3d2
    transition: all 0.3s
    display: block
    &:hover
      transform: scale(1.15)
      fill: #ffffff

.link
  display: block

.link:hover .avatar
  transform: scale(1.05)

.avatar
  border-radius: 50%
  transition: transform 0.2s
  height: 120px
  width: 120px
  background: #e29c11
  display: block
  margin: 0 auto

.name
  margin: 0.25em 0 0.5em

.bio
  p
    margin: 0
    font-size: 0.9rem
    line-height: 1.5
    +media-up(md)
      font-size: 0.8em

.repos
  h4
    margin: 1.75em 0 0

  ul
    list-style: none
    padding: 0
    margin: 0.5em 0 0
    font-size: 0.9rem
    line-height: 1.5
    +media-up(md)
      font-size: 0.8em

.loader
  min-height: 350px
  display: flex
  align-items: center
  justify-content: center

  svg
    fill: var(--color-modal-highlight)
    animation: bounce 1s ease-in-out infinite
    height: 3em
    width: 3em

@keyframes bounce
  from
    transform: scale(1)
    fill: var(--color-modal-highlight)
  50%
    transform: scale(1.5)
    fill: white
  to
    transform: scale(1)
    fill: var(--color-modal-highlight)

@keyframes modal-in
  from
    transform: scale(0)
  80%
    transform: scale(1.02)
  to
    transform: scale(1)
