---
---

<dialog id="twitter-modal">
  Twitter
  <button id="close-modal">Close</button>
</dialog>

<style lang="sass">
  @import '../../style/base'

  dialog
    background: white
    opacity: 0
    transition: opacity 0.3s

  dialog::backdrop
    // background: repeating-linear-gradient(45deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 1px, rgba(0, 0, 0, 0.3) 1px, rgba(0, 0, 0, 0.3) 20px)
    background: rgba(black, 0.4)
    backdrop-filter: blur(3px)

  dialog[open]
    opacity: 1
    // pointer-events: inherit
</style>

<script>
  const modalToggle = document.querySelector('#open-twitter-modal')
  const closeModal = document.querySelector('#close-modal')
  const dialog = document.getElementById('twitter-modal')

  const handleModalOpen = () => {
    dialog.showModal()
  }

  const handleModalClose = () => {
    // const dialog = document.getElementById('twitter-modal')
    dialog.close()
  }
  modalToggle.addEventListener('click', handleModalOpen)
  closeModal.addEventListener('click', handleModalClose)
</script>
