$max-width: 1400px
$max-content-width: 900px
$color-href: #e799ba
$color-bg: #160e22
$color-fg: #201334
$grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px)
$font-family-heading: 'Inconsolata', monospace
$font-family-body: 'Ubuntu', sans-serif
