$max-width: 1400px
$max-content-width: 900px
$color-href: #e799ba
$color-highlight: #E8EE00
$color-bg: #160e22
$color-fg: #201334
$color-grad-primary: #7b35d3
$color-grad-secondary: #a9289f
$grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px)
$font-family-heading: 'Inconsolata', monospace
$font-family-body: 'Ubuntu', sans-serif
$gradient: linear-gradient(135deg, $color-grad-primary 0%, $color-grad-secondary 100%)
