---
// export interface Props {
//  title: string
//  body: string
//  href: string
// }
// import FolioSubfooter from './folio-subfooter'
// const { title, content, type, tools, year } = Astro.props
import { menuItems } from '../data/menu.js'
---

<nav>
  <a href="/">Home</a>
  {menuItems.map(item => (
    <li>
      <a href={item.href} target="_blank">
      {item.title}
    </a>
    </li>
  ))}
</nav>

<style lang="sass">
  @import'../style/base'

  nav
    max-width: $max-width
    margin: 0 auto
    padding: 20px 0
</style>
