---
// export interface Props {
//  title: string;
//  body: string;
//  href: string;
// }
// import FolioSubfooter from './folio-subfooter'
// const { title, content, type, tools, year } = Astro.props;
---

<nav>
  <a href="/">Home</a>
</div>

<style lang="sass">
  @import'../style/_variables.sass'

  nav
    max-width: $max-width
    margin: 0 auto
    padding: 20px 0
</style>
