---
const items = await Astro.glob('../content/portfolio/*.md')
items.sort((a, b) => {
  return b.frontmatter.order - a.frontmatter.order
})
---

<ul>
  {items.map(item => (
    <li class="item">
      <a
        rel="prefetch"
        href={`/portfolio/${item.frontmatter.slug}`}>
        {item.frontmatter.title}
      </a>
    </li>
  ))}
</ul>

<style lang="sass">
  @import'../style/base'

  ul
    max-width: $max-width
    margin: 0 auto
    list-style: none
    padding: 0
    display: grid
    grid-template-columns: repeat(3, 1fr)
    border-radius: 12px
    overflow: hidden
    margin-top: 40px

  a
    display: block
    padding-top: 66.666%
    background: rgba(black, 0.2)
</style>
