---
import { menuItems } from '../../data/menu.js'
---

<footer>
  <nav>
    <ul>
      {menuItems.map(item => (
        <li>
          <a href={item.href} target="_blank">
            {item.title}
          </a>
        </li>
      ))}
      <li>&copy; Gareth Weaver {new Date().getFullYear()}</li>
    </ul>
  </nav>
</footer>

<style lang="sass">
  @import'../../style/base'

  footer
    max-width: $max-width
    margin: 0 auto
    padding: 3em 0 6em
    +media-up(md)
      padding: 4em 0 7em

  ul
    list-style: none
    padding: 0
    margin: 0
    text-align: center
    +media-up(md)
      text-align: left
      display: flex
      justify-content: center

  li
    font-family: $font-family-heading
    margin: 0.75em 0
    +media-up(md)
      font-size: 0.8em
      margin: 0 1em
</style>
